# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")
print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [4]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [9]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
owners = np.random.randint(15000, high=73001, size = 398, dtype='l')
owners

array([37255, 41266, 27930, 54020, 25876, 19812, 43125, 54227, 21269,
       47074, 37289, 31751, 52285, 61013, 16967, 47872, 45805, 61739,
       33279, 33814, 58444, 51069, 31990, 60180, 24033, 23942, 30303,
       20894, 27786, 60514, 52802, 64061, 26908, 68884, 23054, 44450,
       35504, 29388, 46634, 16268, 55763, 50538, 66242, 53988, 27056,
       49244, 50103, 17442, 25250, 20672, 22174, 19180, 43970, 38260,
       71447, 24520, 32307, 25745, 27665, 55353, 51179, 22391, 35880,
       72644, 55952, 39546, 45479, 51209, 60014, 57126, 70305, 35296,
       49374, 61728, 59282, 42110, 47725, 15759, 37673, 35507, 72515,
       61454, 61702, 20201, 50340, 42135, 56293, 36439, 41227, 41608,
       53040, 19139, 15514, 26779, 45279, 34318, 41159, 50349, 35659,
       15091, 51931, 50131, 30031, 65622, 41758, 72283, 54932, 63734,
       28182, 67262, 26016, 18928, 33847, 36575, 41611, 49066, 45672,
       54257, 70884, 23501, 41913, 35341, 41460, 38772, 53799, 18401,
       59913, 62172, 61611, 59167, 53635, 66550, 51660, 18825, 63582,
       40704, 31643, 37441, 36670, 41946, 15756, 27316, 26742, 54729,
       26737, 49890, 36902, 61834, 46496, 46371, 55096, 38004, 61659,
       72822, 21447, 33031, 69032, 45000, 24081, 57609, 71626, 28014,
       30150, 40341, 24838, 26399, 55796, 54679, 36012, 68165, 64647,
       56036, 70857, 49187, 27948, 16994, 38984, 56037, 42077, 61590,
       51170, 53946, 21176, 68609, 25948, 41394, 60428, 67229, 55091,
       36504, 55689, 37017, 49725, 31712, 71709, 21009, 67547, 19829,
       51204, 25353, 56305, 22175, 49814, 20048, 55063, 64777, 25297,
       55213, 63479, 44888, 51754, 56813, 64747, 44342, 31924, 52593,
       71208, 26642, 62494, 49266, 26432, 35263, 70358, 40608, 40300,
       32555, 47730, 22602, 43418, 40468, 41431, 33430, 70629, 48179,
       44881, 18746, 69318, 36274, 28841, 28129, 41089, 35101, 67696,
       54856, 35822, 72636, 34088, 64453, 38457, 19536, 59062, 60305,
       34525, 51092, 53596, 48690, 19725, 60951, 53024, 52317, 46184,
       20655, 41211, 59717, 30329, 48823, 26686, 52046, 54557, 64011,
       58279, 54715, 68726, 66794, 59133, 21516, 25852, 39971, 62818,
       72831, 30573, 35910, 25359, 26282, 35276, 56898, 21969, 56748,
       72233, 17735, 16327, 71639, 47976, 35535, 16818, 52896, 46984,
       53137, 68211, 55559, 21355, 66851, 15858, 38104, 46056, 35660,
       62407, 66392, 70281, 37290, 21643, 59721, 59341, 40769, 27305,
       62504, 34447, 41448, 66587, 22685, 36506, 32153, 25590, 40425,
       39973, 31421, 32092, 26480, 37122, 51916, 35759, 48655, 72695,
       47779, 23710, 51870, 44315, 26936, 68018, 29994, 72156, 70563,
       21205, 66456, 44328, 30818, 65876, 38938, 48082, 61518, 56100,
       22489, 23590, 47966, 53244, 31004, 51265, 18018, 71208, 23941,
       53814, 35427, 56651, 64134, 72048, 30165, 42583, 60321, 57110,
       28489, 67293, 44883, 66843, 37873, 39521, 16137, 47085, 34809,
       54559, 28447, 50814, 38076, 33789, 29682, 71569, 55816, 34005,
       29990, 23857, 60940, 20238, 47101, 16201, 69730, 29282, 37898,
       66385, 48489], dtype=int32)

### Step 8. Add the column owners to cars

In [11]:
cars['owners'] = owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,69730
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,29282
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,37898
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,66385
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,48489